* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Lato-Thin';
    src: url('../fonts/Lato-Thin.ttf');
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf');
}

/* Body*/
body {
    background-color: #101114;
    /*   */
}


/* Menú */
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.icon a img {
    width: 110px;
    height: 50px;
}

@media (max-width: 730px) {
    .icon a img {
        width: 70px;
        height: 35px;
    }
}

#contentHeader {
    padding-top: 15px;
}

.menu ul {
    display: flex;
    justify-content: end;
    height: 60px;
}

.menu ul li {
    display: inline-block;
    padding: 15px 20px;
    transition: all 0.4s ease;
}

@media (max-width: 730px) {
    .menu ul li {
        display: inline-block;
        padding: 15px 7px;
        transition: all 0.4s ease;
    }
}

@media (max-width: 560px) {
    .menu ul li {
        display: inline-block;
        padding: 15px 4px;
        transition: all 0.4s ease;
    }
}


.menu ul li:hover {
    transform: scale(1.1);
}

.menu ul li:hover a {
    border-bottom: 2px solid #f8f9fa;
}

.menu ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Lato-Thin', sans-serif;
}

@media (max-width: 730px) {
    .menu ul li a {
        font-size: 20px;
    }
}

@media (max-width: 560px) {
    .menu ul li a {
        font-size: 14px;
    }
}

/* Contenido */

main h2 {
    border-bottom: 2px solid #f8f9fa;
    width: 40%;
    margin: auto auto;
}

.imagen {
    background: linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.6)), url('../img/interior.webp');
    background-size: cover;
    background-position: center;
    height: 500px;
    position: relative;
}

.imagen .titulo {
    width: 80%;
    margin: auto auto;
}

.imagen .titulo h1 {
    text-align: center;
    color: #f8f9fa;
}

.catalogoNuevo {
    width: 90%;
    text-align: center;
    justify-content: center;
    margin: auto auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.card {
    border: none;
}

.contenedor-formulario {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    display: none;
    background-color: #111111bd;
    z-index: 1000;
}

.col-formulario {
    background-color: #f8f9fa;
    width: 60%;
    margin: auto auto;
    padding-bottom: 30px;
}

.formulario {
    width: 80%;
    margin: auto;
}


.formulario .formularioContenido textarea {
    padding: 20px;
}

.form-label {
    font-weight: 500;
}

.formulario .error {
    display: none;
}


/* Footer */
footer {
    padding-top: 60px;
}

footer h6 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

footer ul {
    list-style: none;
}

footer ul li a {
    font-family: 'Lato-Thin', sans-serif;
    text-decoration: none;
    color: inherit;
    opacity: 0.6;
    line-height: 2;
    font-size: 16px;
}

footer .footerServicios {
    padding-left: 7%;
}

@media (max-width: 768px) {
    footer .footerServicios {
        padding-left: 0%;
        text-align: center;
    }
}

footer .acercaDe {
    padding-left: 7%;
}

@media (max-width: 768px) {
    footer .acercaDe {
        padding-left: 0%;
        text-align: center;
    }
}

footer .info {
    padding-right: 6%;
    font-size: 17px;
    line-height: 1.9;
}

@media (max-width: 768px) {
    footer .info {
        padding: 10%;
        text-align: center;
    }
}

footer .info p {
    color: #777A7D;
    font-family: 'Lato-Thin', sans-serif;
    text-align: justify;
}

footer .redes {
    margin-top: 40px;
}

footer .redes a {
    padding: 50px 20px;
}

footer .redes a img {
    width: 30px;
}

footer .redes p {
    font-family: 'Lato-Thin', sans-serif;
}